html { background-color: rgb(169, 7, 7); } 
body {
    
    padding: 10%;
    color: #C84630,;
    min-height: 100vh;
    max-width: 900px;
    background-color: #dce8f8; 
    margin: 0 auto;
}
.container {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 400;
font-size: 18px;}
.navbar {
    overflow: hidden;
    background-color: rgb(169, 7, 7);
    border-radius: 10px;
  }
  
  .navbar a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

figcaption {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:75%;
}
.slogan {
    text-align: center;
    color: #052567;
}
.header{
    color:#1f243b;
    overflow: hidden;
    background-color: none;
    text-align: center;}

.footer {
    overflow: hidden;
    background-color: rgb(169, 7, 7);
    border-radius: 10px;
}
.footer p {
    color: gray;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;}
.footer a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer a:hover{
    text-decoration:underline;}